.slider
{
    height: 400px;
    width: 100%;
    background-color:#edf1f4 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.slider-box img
{
    height: 300px;
}

.info-box p
{
    font-size: 50px;
    font-family: "Poppins";
}

.info-box button
{
    padding: .7rem  3rem;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    border-radius:4px ;
    font-family: "Poppins";
    cursor: pointer;
    margin-top: .5rem;
}
